:root {
    --font-size: 16px;
    --font-color: black;
    --main-color: yellowgreen;
}

.header {
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: (--font-color);
    z-index: 997;
    text-align: center;
}

.header h1 {
    margin: 0 auto;
    display: inline;
}

.header i {
    float: left;
}