:root {
    --font-size: 16px;
    --font-color: black;
    --main-color: yellowgreen;
}

body {
    transition: all 0.3s ease-out !important;
}

.header {
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: (--font-color);
    z-index: 997;
    text-align: center;
}

.header h1 {
    margin: 0 auto;
    display: inline;
}

.header i {
    float: left;
}

.text-center {
    text-align: center;
}

#loader {
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: lightcyan;
    opacity: 1;
    transition: opacity 0.6s linear;
}

#loader .hidden {
    opacity: 0;
}

#loader .container-fluid {
    margin: 0;
    position: relative;
    top: 40%;
}

.hid {
    visibility: hidden;
}

img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}

h2,
#typedtext {
    padding-top: 2rem;
}

.icon-list {
    padding: 3rem;
}